<nav id="mainNavigation" class="navbar navbar-dafault main-navigation" role="navigation">
                <div class="container">
                    
                    <div class="navbar-header">
                        
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <!-- navbar logo -->
                        <div class="navbar-brand">
                            <a href="/">
                                <img src="{% static 'img/fanasps.png' %}" class="img-responsive center-block" alt="logo">
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->
                   <div class="collapse navbar-collapse" id="main-nav-collapse">
                        <ul class="nav navbar-nav navbar-right text-uppercase">
                            <li>
                                <a href="/presencial"><span>Ensino Presencial</span></a>
                            </li>

                            <li>
                                <a href="#"><span>Ensino à Distância</span></a>

                            </li> <!-- end of /.dropdown -->

                            <li>
                                <a href="/onlineCourses/"><span>Cursos Online</span></a>
                               
                            </li> <!-- end of /.dropdown -->

                           <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>ESPAÇO DO ALUNO</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Moodle</a>
                                    </li>
                                    <li>
                                        <a href="#">Bibliotecas</a>
                                    </li>
                                    <li>
                                        <a href="#">Secretaria</a>
                                    </li>
                                </ul>  <!-- end of /.dropdown-menu -->
                            </li> <!-- end of /.dropdown -->
                        </ul>
                    </div><!-- nav link
                    
                </div><!-- /.container -->
            </nav>