<!DOCTYPE html>
{% load static %}
<html lang="pt-br"> 

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 

<html class="no-js"> <!--<![endif]-->
    <head>

        <title>Faculdade Anasps</title>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="author" content="Filipi Machado">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Educação Presencial e a Distância - Faculdade Anasps">

        <!-- Banner Slide--> 
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'css/gallery.prefixed.css' %}" />
        <link rel="stylesheet" href="{% static 'css/gallery.theme.css' %}" />

        
        <!-- stylesheets -->
        <link rel="shortcut icon" href="imagens/favicon.png">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" />
        <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />


        <!-- scripts -->
        <script type="text/javascript" src="{% static 'js/modernizr.custom.97074.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.hoverdir.js' %}"></script>


        <!-- scripts -->
        <script type="text/javascript" src="{% static 'js/modernizr.custom.97074.js' %}"></script>

    </head>

    <body>

        <div id="home-page">

            <!-- site-navigation start -->  
            <nav id="mainNavigation" class="navbar navbar-dafault main-navigation" role="navigation">
                <div class="container">
                    
                    <div class="navbar-header">
                        
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <!-- navbar logo -->
                        <div class="navbar-brand">
                            <a href="/">
                                <img src="{% static 'img/fanasps.png' %}" class="img-responsive center-block" alt="logo">
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->
                   <div class="collapse navbar-collapse" id="main-nav-collapse">
                        <ul class="nav navbar-nav navbar-right text-uppercase">
                            <li>
                                <a href="/presencial"><span>Ensino Presencial</span></a>
                            </li>

                            <li>
                                <a href="#"><span>Ensino à Distância</span></a>

                            </li> <!-- end of /.dropdown -->

                            <li>
                                <a href="/onlineCourses/"><span>Cursos Online</span></a>
                               
                            </li> <!-- end of /.dropdown -->

                           <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>ESPAÇO DO ALUNO</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Moodle</a>
                                    </li>
                                    <li>
                                        <a href="#">Bibliotecas</a>
                                    </li>
                                    <li>
                                        <a href="#">Secretaria</a>
                                    </li>
                                </ul>  <!-- end of /.dropdown-menu -->
                            </li> <!-- end of /.dropdown -->
                        </ul>
                    </div><!-- nav link
                    
                </div><!-- /.container -->
            </nav>
            <!-- site-navigation end -->

            
            
            <!-- Banner Slide -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                 <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                 <li data-target="#myCarousel" data-slide-to="1"></li>
                 <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{% static 'img/1.png' %}" alt="">
                </div>

                <div class="item">
                     <img src="{% static 'img/2.png' %}" alt="">
                </div>

                <div class="item">
                     <img src="{% static 'img/2.jpg' %}" alt="">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
           <!-- end Banner Slide -->
            



                </div><!-- /.header-wrapper-inner -->
            </header>
            <!-- /#header -->

            <div class="main-content">

                <!--  begin intro section -->

                <section class="intro bg-light-gray">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="{% static 'img/intro.jpg' %}" class="img-responsive center-block" alt="intro">
                            </div>

                            <div class="col-md-7">
                                <div class="intro-description">
                                    <h2>Tecnólogo em GESTÃO PÚBLICA</h2>
                                    <p>Um profissional plenamente apto a atuar em qualquer tipo de organização pública das três esferas do governo: federal, estadual ou municipal. 
                                    </p>

                                    <ul class="points">
                                        <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            Modalidade: Presencial
                                        </li>
                                        <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            Duração: 2 anos
                                        </li>
                                        <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            Carga horária do curso: 1.620 horas
                                        </li>
                                        <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            Turno: Noturno
                                        </li>
                                    </ul> <!-- end of /.points -->

                                    <a href="#" class="btn btn-slategray">
                                        Grade Curricular
                                    </a> <!-- /purchase button -->
                                </div> <!-- end of /.intro-description -->
                            </div>
                        </div>
                    </div> <!-- end of /.container -->
                </section> 
                <!--  end of intro section -->


                <!--  begin feature section  -->
                <section class="bg-white feature">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="feature-content text-center">
                                    <div class="feature-icon-box">
                                        <div class="feature-icon center-block">
                                            <i class="fa fa-laptop"></i>
                                        </div>
                                    </div> <!--  end of /.feature-icon-box  -->
                                    <div class="feature-info">
                                        <h3 class="feature-heading">VAGAS</h3>
                                        <p class="feature-description">
                                            100 vagas
                                        </p>  <!--   end of /.feature-description  -->
                                    </div> <!--   end of /.feature-info  -->
                                </div> <!--  end of /.feature-content  -->
                            </div>

                            <div class="col-md-3">
                                <div class="feature-content text-center">
                                    <div class="feature-icon-box">
                                        <div class="feature-icon center-block">
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div> <!--  end of /.feature-icon-box  -->
                                    <div class="feature-info">
                                        <h3 class="feature-heading">TURNOS</h3>
                                        <p class="feature-description">
                                            Matutino - 8 às 12h <br>
                                            Norturno - 18:30 às 22h
                                        </p>  <!--   end of /.feature-description  -->
                                    </div> <!--   end of /.feature-info  -->
                                </div> <!--  end of /.feature-content  -->
                            </div>

                            <div class="col-md-3">
                                <div class="feature-content text-center">
                                    <div class="feature-icon-box">
                                        <div class="feature-icon center-block">
                                            <i class="fa fa-thumbs-o-up"></i>
                                        </div>
                                    </div> <!--  end of /.feature-icon-box  -->
                                    <div class="feature-info">
                                        <h3 class="feature-heading">ATIVIDADES COMPLEMENTARES</h3>
                                        <p class="feature-description">
                                            Total 420h
                                        </p>  <!--   end of /.feature-description  -->
                                    </div> <!--   end of /.feature-info  -->
                                </div> <!--  end of /.feature-content  -->
                            </div>

                            <div class="col-md-3">
                                <div class="feature-content text-center">
                                    <div class="feature-icon-box">
                                        <div class="feature-icon center-block">
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div> <!--  end of /.feature-icon-box  -->
                                    <div class="feature-info">
                                        <h3 class="feature-heading">COORDENADOR</h3>
                                        <p class="feature-description">
                                            Prof. MSC Jorge Fernando Valente de Pinho 
                                        </p>  <!--   end of /.feature-description  -->
                                    </div> <!--   end of /.feature-info  -->
                                </div> <!--  end of /.feature-content  -->
                            </div>

                        </div>
                    </div> <!-- end of /.container -->
                </section>  
                <!--   end of feature section  -->
                
                
                
                <!-- begin pricing section -->
                <section class="bg-light-gray">
                    <div class="container">

                        <div class="headline text-center">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <h2 class="section-title"><b>Descontos 2018/1</b><br>(Bolsas de Estudo)</h2>
                                    <p class="section-sub-title">
                                        TODOS OS DESCONTOS ESTÃO CONDICIONADOS A PONTUALIDADE NO PAGAMENTO DAS MENSALIDADES ATÉ O MÁXIMO NO DIA 10 DE CADA MÊS.
                                    </p> <!-- /.section-sub-title -->
                                </div>
                            </div>
                        </div> <!-- /.headline -->


                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="price-box">
                                    <h3>Associados e funcionários da ANASPS</h3>
                                    <div class="price-info">

                                        <span>50%</span>
                                        <span>Matrícula/1ª Mensalidade <br>R$ 250,00</span>
                                        <span>Mensalidades - 2ª a 6ª <br>R$ 250,00</span>
                                        <p class="price"><span>250,00</span></p>

                                    </div> <!-- /.price-info -->

                                    <a href="#" class="btn pricing-btn">Saiba mais</a>
                                </div> <!-- /.price-box -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="price-box">
                                    <h3>Beneficiários do Clube Anasps e Convênios</h3>
                                    <div class="price-info">

                                        <span>40%</span>
                                        <span>Matrícula/1ª Mensalidade <br>R$ 300,00</span>
                                        <span>Mensalidades - 2ª a 6ª <br>R$ 300,00</span>
                                        <p class="price"><span>300,00</span></p>

                                    </div> <!-- /.price-info -->

                                    <a href="#" class="btn pricing-btn">Saiba mais</a>
                                </div> <!-- /.price-box -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="price-box">
                                    <h3>Segunda graduação e transferência externa</h3>
                                    <div class="price-info">

                                        <span>30%</span>
                                        <span>Matrícula/1ª Mensalidade <br>R$ 350,00</span>
                                        <span>Mensalidades - 2ª a 6ª <br>R$ 350,00</span>
                                        <p class="price"><span>350,00</span></p>

                                    </div> <!-- /.price-info -->

                                    <a href="#" class="btn pricing-btn">Saiba mais</a>
                                </div> <!-- /.price-box -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="price-box">
                                    <h3>Valor Bruto <br><br><b>(sem desconto)</b></h3>
                                    <div class="price-info">

                                        <span>100%</span>
                                        <span>Matrícula/1ª Mensalidade <br>R$ 500,00</span>
                                        <span>Mensalidades - 2ª a 6ª <br>R$ 500,00</span>
                                        <p class="price"><span>500,00</span></p>

                                    </div> <!-- /.price-info -->

                                    <a href="#" class="btn pricing-btn">Saiba mais</a>
                                </div> <!-- /.price-box -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end of pricing section -->
                


                 <!-- begin skill section -->

                <section class="bg-light-gray skill">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>PERFIL</h2>
                                <p>
                                    O perfil de um Gestor Público é estruturado em características como: credibilidade técnica, carisma, capacidade de diálogo, tomada de decisão e delegação de poderes.  Um de seus principais papeis é horizontalizar todo trabalho para dar mais poder e motivação à equipe e, ao mesmo tempo, cobrar os resultados estimados. O curso de Gestão Pública visa formar profissionais aptos a atuar, de maneira efetiva, transparente e participativa, na gestão de entidades de diferentes setores do governo. 
                                </p>
                            </div>
                            
                            
                     <div class="col-md-6">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>ÁREAS DE ATUAÇÃO E MERCADO DE TRABALHO</h2>
                                <p>
                                    O mercado de trabalho está em crescimento para o profissional formado neste curso tecnológico. Os grandes contratantes são, de fato, os órgãos do governo. Em contrapartida, companhias privadas abrem espaço para estes profissionais, principalmente empresas que prestam serviços para a área pública. Brasília é, atualmente, a cidade que reúne a maior variedade de cargos e os salários mais atrativos deste setor. A graduação em Gestão Pública tem como objetivo formar profissionais aptos para administrar, nos mais diferenciados níveis do governo, organizações e instituições do setor público. 
                                </p>
                                    </div>
                                </div> <!-- /.skill-level -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end begin skill section -->
                
                
                                <!-- begin twitter-feed section -->
                <section class="twit-feed">
                    <div class="twit-feed-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div id="twit" class="owl-carousel owl theme">

                                        <div class="item text-center">
                                            <div class="twit-content">
                                                <div class="twit-icon">
                                                    <img src="{% static 'img/logop.png' %}" style=" width: 200px;">
                                                </div>
                                                <h3>Instituição de Ensino Superior credenciada por meio da Portaria MEC nº 775 de 22 de julho de 2016, publicada no <b><a href="credenciamento_faculdade_anasps.pdf" target="">D.O.U de 25/07/2016</a></b>, para oferta do Curso Superior de Tecnologia em Gestão Pública, com ênfase em Previdência, cuja duração será de 2 (dois) anos,  funcionando inicialmente na cidade de Brasília/DF.</h3>
                                                <p>Maiores Informações: (61) 3321-1277 | E-mail: secretaria@faculdadeanasps.com.br
                                                </p>
                                            </div>
                                        </div>                                       
                </section> <!--   end of /.twit-feed section  -->
                
                
                <!--  begin testimonial section  -->

                <section class="bg-light-gray">
                    <div class="container">

                        <div class="headline text-center">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <h2 class="section-title"><b>DEPOIMENTOS DOS ALUNOS</b></h2>
                                    <p>
                                        Depoimentos de alunos e ex-alunos da Faculdade Anasps
                                    </p> <!-- /.section-sub-title -->
                                </div>
                            </div>
                        </div> <!-- /.headline -->

                        <div id="client-speech" class="owl-carousel owl-theme">

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="client-box">
                                            <div class="about-client">
                                                <img src="{% static 'img/depoimentos/client1.jpg' %}" alt="client1">
                                                <p class="client-intro">Germano Gerson</p>
                                            </div> <!-- end of /.about-client -->
                                            <div class="main-speech">
                                                <p>
                                                    Na minha opnião a Faculdade Anasps proporciona um ambiente favorável ao conhecimento científico, com professores altamente qualificados.
                                                </p>
                                            </div> <!-- end of /.main-speech  -->
                                        </div> <!-- end of /.client-box -->
                                    </div>

                                    <div class="col-md-6">
                                        <div class="client-box">
                                            <div class="about-client">
                                                <img src="{% static 'img/depoimentos/client2.jpg' %}" alt="client2">
                                                <p class="client-intro">Laís Lima</p>
                                            </div> <!-- end of /.about-client -->
                                            <div class="main-speech">
                                                <p>
                                                    A Faculdade Anasps traz uma proposta inovadora que busca atender uma demanda do mercado e almeja qualificar seus clientes. Possui uma banca de professores e funcionários altamente qualificados que estão sempre disponíveis para proporcionar um ensino de qualidade.
                                                </p>
                                            </div> <!-- end of /.main-speech  -->
                                        </div> <!-- end of /.client-box -->
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="client-box">
                                            <div class="about-client">
                                                <img src="{% static 'img/depoimentos/client3.jpg' %}" alt="client3">
                                                <p class="client-intro">Pâmela Contijo</p>
                                            </div> <!-- end of /.about-client -->
                                            <div class="main-speech">
                                                <p>
                                                    A Faculdade Anasps começou com o curso de Gestão Pública que tem professores excelentes, alguns da UNB e outros com mestrado e doutorado. A Faculdade Anasps tem tudo para crescer.
                                                </p>
                                            </div> <!-- end of /.main-speech  -->
                                        </div> <!-- end of /.client-box -->
                                    </div>

                                    <div class="col-md-6">
                                        <div class="client-box">
                                            <div class="about-client">
                                                <img src="{% static 'img/depoimentos/Daniele.jpg' %}" alt="client4">
                                                <p class="client-intro">Daniele Martins</p>
                                            </div> <!-- end of /.about-client -->
                                            <div class="main-speech">
                                                <p>
                                                    Corpo Docente de Excelência, profissionais qualificados que repassam seu conhecimentos colaborando para um ensino de qualidade, nos preparando para um amplo mercado de trabalho.
                                                </p>
                                            </div> <!-- end of /.main-speech  -->
                                        </div> <!-- end of /.client-box -->
                                    </div>
                                </div>
                            </div>
                            
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="client-box">
                                            <div class="about-client">
                                                <img src="{% static 'img/depoimentos/jessica.jpg' %}" alt="client5">
                                                <p class="client-intro">Jéssica Cardoso</p>
                                            </div> <!-- end of /.about-client -->
                                            <div class="main-speech">
                                                <p>
                                                    A Faculdade Anasps oferece uma ótima preparação para o mercado de trabalho, com professores bem capacitados que possuem um vasto conhecimento, tanto profissional como pessoal. 
                                                </p>
                                            </div> <!-- end of /.main-speech  -->
                                        </div> <!-- end of /.client-box -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="client-box">
                                            <div class="about-client">
                                                <img src="{% static 'img/depoimentos/jose.jpg' %}" alt="client5">
                                                <p class="client-intro">José Augusto</p>
                                            </div> <!-- end of /.about-client -->
                                            <div class="main-speech">
                                                <p>
                                                     Professores com mestrado, altamente qualificados, que lecionam com o objetivo de expandir o conhecimento preparando o aluno para a área pública. Estrutura competente.
                                                </p>
                                            </div> <!-- end of /.main-speech  -->
                                        </div> <!-- end of /.client-box -->
                                    </div>
                                </div>
                            </div>
                            
                        </div> <!-- end of /#client-speech  /.owl-carousel -->

                    </div> <!-- end of .container -->
                </section> 
                <!--  end of testimonial  section -->
                            
            </div> <!-- end of /.main-content -->

            <div id="multiple-blog-page">

                <!-- header begin -->
                <header class="page-head">
                    <div class="header-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">

                                    <ol class="breadcrumb">
                                        <li class="active">Notícias e Eventos</li>
                                    </ol> <!-- end of /.breadcrumb -->

                                </div>
                            </div>
                        </div> <!-- /.container -->
                    </div> <!-- /.header-wrapper -->
                </header> <!-- /.page-head (header end) -->

                <br>

                <section class="blog-content">
                    <div class="container">
                        <div class="row">
                            <main class="col-md-9" style="display: block;">

                                <article class="blog-item">
                                    <img class="img-responsive center-block" src="{% static 'img/news/blog-item1.jpg' %}" alt="blog-item1">
                                    <div class="blog-heading">
                                        <h3 class="text-capitalize">single image post title here</h3>
                                        <span class="date">may 24,2015</span>
                                        <span>12 comments</span>
                                    </div>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentiall unchaynged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and ...
                                    </p>

                                    <a href="#" class="text-capitalize ">
                                        Leia mais
                                        <span><i class="fa fa-angle-double-right"></i> </span>
                                    </a>
                                </article> <!-- /.blog-item -->


                                <article class="blog-item">
                                    <img class="img-responsive center-block" src="{% static 'img/news/blog-item2.jpg' %}" alt="blog-item2">
                                    <div class="blog-heading">
                                        <h3 class="text-capitalize">single image post title here</h3>
                                        <span class="date">may 24,2015</span>
                                        <span>12 comments</span>
                                    </div>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and ...
                                    </p>

                                    <a href="#" class="text-capitalize">
                                        Leia Mais
                                        <span><i class="fa fa-angle-double-right"></i> </span>
                                    </a>
                                </article> <!-- /.blog-item -->

                                <div class="row">
                                    <div class= "col-md-6 col-md-offset-3 text-center">
                                        <div class = "maisNoticias">
                                            <a href=""><h4>Mais Notícias</h4></a>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </main>
                            <!-- begin sidebar -->
                            <aside class="col-md-3">
                                <!-- begin tab-widget -->
                                <div class="tab-widget">
                                    <h4>Eventos</h4>
                                    <div  class="nav-tabs-default">
                                        <ul class="nav nav-tabs">
                                        </ul> <!-- end of nav-tabs -->

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="popular">
                                                <div class="popular-post">
                                                    <img src="{% static 'img/events/tab-widget1.jpg' %}" class="img-responsive center-block" alt="popular-post 1">
                                                    <h5 class="post-widget-heading">Image Post Title here</h5>
                                                    <span class="date">may 24,2015</span>
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                    </p>
                                                </div>
                                                <div class="popular-post">
                                                    <img src="{% static 'img/events/tab-widget2.jpg' %}" class="img-responsive center-block" alt="popular-post 2">
                                                    <h5 class="post-widget-heading">Image Post Title here</h5>
                                                    <span class="date">may 24,2015</span>
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- /.tab-widget -->
                            </aside>
                            <!-- end sidebar -->

                        </div>
                    </div>
                </section>
            </div> 
            <!-- end of /#multiple-blog-page -->

            <footer>
                <div class="container">
                    <div class="row">

                        <!-- useful links -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Institucional</h4>
                            <ul class="row footer-links">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="#">A Instituição</a></li>
                                    <li><a href="#">Ensino</a></li>
                                    <li><a href="#">Como ingressar</a></li>
                                    <li><a href="#">Como funciona</a></li>
                                    <li><a href="#">Regulamentos</a></li>
                                    <li><a href="#">Ouvidoria</a></li>
                                    <li><a href="#">Notícias</a></li>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="#">Educação Presencial</a></li>
                                    <li><a href="#">Educação a Distância</a></li>
                                    <li><a href="#">Cursos Online</a></li>
                                    <li><a href="#">Ambiente Virtual</a></li>
                                    <li><a href="#">Empresas</a></li>
                                </div>
                            </ul>
                        </div>

                        <!-- recent news -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Notícias Recentes</h4>

                            <div class="row footer-news">
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <img src="{% static 'img/intro.jpg' %}" class="img-responsive center-block" alt="recent news 1">
                                </div>
                                <div class="col-md-8 col-sm-4 col-xs-6">
                                    <div class="row">
                                        <p class="text-capitalize">
                                            <a href="#">
                                                a clear website gives more experience to the visitors
                                            </a>
                                        </p>
                                        <p class="news-date">Dec 12,2015</p>
                                    </div>
                                </div>
                            </div> <!-- /.footer-news -->

                            <div class="row footer-news">
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <img src="{% static 'img/intro.jpg' %}" class="img-responsive center-block" alt="recent news 2">
                                </div>
                                <div class="col-md-8 col-sm-4 col-xs-6">
                                    <div class="row">
                                        <p class="text-capitalize">
                                            <a href="#">
                                                a clear website gives more experience to the visitors
                                            </a>
                                        </p>
                                        <p class="news-date">Dec 12,2015</p>
                                    </div>
                                </div>
                            </div> <!-- /.footer-news -->
                        </div> <!-- /.footer-widget -->

                        <!-- news-letter -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Receba notícias por e-mail</h4>

                            <p>Receba semanalmente em seu e-mail </p>
                            <div class="input-group margin-bottom-sm">
                                <input class="form-control" type="text" placeholder="E-mail">
                                <span class="input-group-addon">
                                    <i class="fa fa-paper-plane fa-fw"></i>
                                </span>
                            </div>
                            <p>Serviço de newsletter é inteiramente gratuito.</p>
                        </div> <!-- /.footer-widget -->

                        <!-- about avada agency -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Fale Conosco</h4>

                            <p>
                                SCS Quadra 01 Bloco K - Ed. Denasa - Salas 1001 a 1004 - Asa Sul
70397-900 | Brasília - DF
                            </p>

                            <div class="footer-address">
                                <p>
                                    (61) 3321-1277  <br>
                                    contato@faculdadeanasps.com.br
                                </p>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="footer-share-button">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul> <!-- /.footer-share-button -->
                                </div>
                            </div>
                        </div> <!-- /.footer-widget -->

                    </div>
                </div>
            </footer>


            <!-- footer-navigation start -->  
            <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                <div class="container">
                    
                    <div class="navbar-header">
                        
                        <!-- navbar logo -->
                        <!--<div class="navbar-brand">
                            <span class="sr-only">&copy;FILIPI MACHADO</span>
                            <a href="#">
                                &copy;FILIPI MACHADO
                            </a>
                        </div>-->
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->
                    <div class="collapse navbar-collapse" id="main-nav-collapse">
                        <ul class="nav navbar-nav navbar-right text-capitalize">
                            <li><a href="#">
                                <span>ENSINO PRESENCIAL</span>
                            </a></li>

                            <li><a href="#">
                                <span>ENSINO À DISTÂNCIA</span>
                            </a></li>

                            <li><a href="#">
                                <span>CURSOS ONLINE</span>
                            </a></li>

                            <li><a href="#team">
                                <span>AMBIENTE VIRTUAL</span>
                            </a></li>
                        </ul>
                    </div><!-- nav links -->
                    
                </div><!-- /.container -->
            </nav>
            <!-- footer-navigation end -->
            
        </div> <!-- end of /#home-page -->

        <!--  Necessary scripts  -->

        <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.hoverdir.js' %}"></script>


        <!-- script for portfolio section using hoverdirection -->
        <script type="text/javascript">
            $(function() {

                $('.portfolio-item > .item-image').each( function() { $(this).hoverdir({
                    hoverDelay : 75
                }); } );

            });
        </script>


        <!-- script for twitter-feed using owl carousel-->
        <script type="text/javascript">
            $(document).ready(function() {
 
                $("#twit").owlCarousel({
                 
                    navigation : true, // Show next and prev buttons
                    slideSpeed : 100,
                    paginationSpeed : 400,
                    navigationText : false,
                    singleItem: true,
                    autoPlay: true,
                    pagination: false
                });
 
            });
        </script>


        <!-- script for testimonial section using owl carousel -->
        <script type="text/javascript">
            $(document).ready(function() {
 
                $("#client-speech").owlCarousel({
                 
                    autoPlay: 5000, //Set AutoPlay to 3 seconds
                    stopOnHover: true,
                    singleItem:true
                });
 
            });
        </script>


    </body>
</html>